<aside id="sidebar"> 
  <div class="logo">
    <img src="/logo.png" alt="logo" />
  </div>
  <nav>
    <ul>
      <li>
        <a href="/admin/dashboard" class="nav-link">
          <img src="/users.svg" alt="users" />
          <span class="nav-text">Users</span>
        </a>
      </li>
      <li>
        <a href="/admin/dashboard/blogs" class="nav-link">
          <img src="/blogs.svg" alt="blogs" />
          <span class="nav-text">Blogs</span>
        </a>
      </li>
      <li>
        <a href="/admin/dashboard/forums" class="nav-link">
          <img src="/forum.svg" alt="forums" />
          <span class="nav-text">Forum</span>
        </a>
      </li>
      <li>
        <a href="/admin/career" class="nav-link">
          <img src="/career.svg" alt="forums" />
          <span class="nav-text">Career</span>
        </a>
      </li>
      <li>
        <a href="/admin/services" class="nav-link">
          <img src="/career.svg" alt="forums" />
          <span class="nav-text">Services</span>
        </a>
      </li>
      <li>
        <a href="/admin/menu" class="nav-link">
          <img src="/menu.svg" alt="forums" />
          <span class="nav-text">Menu</span>
        </a>
      </li>
      <li>
        <a href="/admin/import" class="nav-link">
          <img src="/import.svg" alt="import" />
          <span class="nav-text">Import</span>
        </a>
      </li>
      <li>
        <a href="/admin/settings" class="nav-link">
          <img src="/settings.svg" alt="import" />
          <span class="nav-text">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
