<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/createblog.css" />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="logo">
          <img src="/logo.png" alt="logo" />
        </div>
        <nav>
          <ul>
            <li>
              <a href="/admin/dashboard" class="nav-link">
                <img src="/users.svg" alt="users" />
                <span class="nav-text">Users</span>
              </a>
            </li>
            <li>
              <a href="/admin/dashboard/blogs" class="nav-link">
                <img src="/blogs.svg" alt="blogs" />
                <span class="nav-text">Blogs</span>
              </a>
            </li>
            <li>
              <a href="/admin/dashboard/forms" class="nav-link active">
                <img src="/blogs.svg" alt="blogs" />
                <span class="nav-text">Forum</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <main>
        <button id="toggle-button">
          <svg
            id="hamburger-icon"
            style="
              width: 1.5rem;
              height: 1.5rem;
              min-width: 10px;
              min-height: 10px;
            "
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
          <svg
            id="close-icon"
            style="
              width: 1.5rem;
              height: 1.5rem;
              min-width: 640px;
              min-height: 640px;
              display: none;
            "
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
        <div class="main-title" style="display: flex">
          <h1><%= title %></h1>
        </div>
        <form action="" class="form-container">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-input"
              required
              placeholder="Enter title"
            />
            <small id="titleError"> * Title </small>
          </div>

          <div class="form-group">
            <label for="top-description" class="form-label">Content</label>
            <textarea
              id="description"
              required
              class="form-textarea"
            ></textarea>
            <small id="contentError"> * Content </small>
          </div>

          <div class="form-action">
            <button type="button" id="submitbtn" class="form-button">
              Create
            </button>
          </div>
          <div id="alertMessage" class="alert-message" style="display: none">
            Blog Created Successfully
          </div>
        </form>
      </main>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="/javascript/createforum.js"></script>
  </body>
</html>
