<%- include('../wrapper/header') %>

<aside
  class="bg-gray-200 w-40 max-md:w-20 h-screen p-5 fixed inset-y-0 left-0 transform -translate-x-full transition-transform duration-300 md:translate-x-0 z-20"
  id="sidebar"
>
  <div class="flex justify-center mb-5">
    <img src="/logo.png" class="h-10 w-10 md:h-24 md:w-24" alt="blogs" />
  </div>
  <nav>
    <ul class="space-y-4">
      <li>
        <a
          href="/admin/dashboard"
          class="mb-4 flex gap-x-2 items-center text-blue-900 hover:text-blue-500"
        >
          <img src="/users.svg" class="h-7 w-7" alt="users" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Users</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/dashboard/blogs"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500"
        >
          <img src="/blogs.svg" class="h-7 w-7" alt="blogs" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Blogs</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/dashboard/forums"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500  w-32 max-md:w-10 px-3 py-2 rounded-lg"
        >
          <img src="/forum.svg" class="h-7 w-7" alt="blogs" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Forums</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/career"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500 w-32 max-md:w-10 px-3 py-2 rounded-lg"
        >
          <img src="/career.svg" class="h-7 w-7" alt="blogs" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Career</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/services"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500 w-32 max-md:w-10 px-3 py-2 rounded-lg"
        >
          <img src="/career.svg" class="h-7 w-7" alt="blogs" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Services</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/menu"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500 bg-gray-300 w-32 px-3 py-2 rounded-lg"
        >
          <img src="/menu.svg" class="h-7 w-7" alt="blogs" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Menu</span
          >
        </a>
      </li>
      <li>
        <a
          href="/admin/import"
          class="gap-x-2 flex items-center text-blue-900 hover:text-blue-500  px-3 py-2 rounded-lg"
        >
          <img src="/import.svg" class="h-7 w-7" alt="import" />
          <span class="font-semibold text-md text-gray-500 hidden md:block"
            >Import</span
          >
        </a>
      </li>
    </ul>
  </nav>
</aside>
<div class="ms-[25%] w-[60%] flex justify-center flex-wrap items-center h-[80dvh] gap-x-10 ">
  <a href="/admin/menu/md" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menudesktop.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Main Desktop</h1> 
  </a>
  <a href="/admin/menu/mm" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menumobile.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Main Mobile</h1> 
  </a>
  <a href="/admin/menu/fd" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menudesktop.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Footer Desktop</h1> 
  </a>
  <a href="/admin/menu/fm" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menumobile.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Footer Mobile</h1> 
  </a>
</div>

<%- include('../wrapper/footer') %>
