<%- include('../wrapper/header') %>

<%- include('../components/sidenav') %>
<div class="ms-[25%] w-[60%] flex justify-center flex-wrap items-center h-[80dvh] gap-x-10 ">
  <a href="/admin/menu/md" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menudesktop.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Main Desktop</h1> 
  </a>
  <a href="/admin/menu/mm" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menumobile.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Main Mobile</h1> 
  </a>
  <a href="/admin/menu/fd" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menudesktop.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Footer Desktop</h1> 
  </a>
  <a href="/admin/menu/fm" class="bg-gray-300 w-[20rem] h-[15rem] flex flex-col gap-y-2 justify-center items-center rounded-md">
    <img src="/menumobile.svg" class="h-16 w-16" alt="main desktop">
    <h1 class="text-2xl font-semibold text-gray-600">Footer Mobile</h1> 
  </a>
</div>

<%- include('../wrapper/footer') %>
